*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #000816;
    --text-color: #ffffff;
    --second-color: #a09dab;
    --main-color: #1abc9c;
    --big-font: 5rem;
    --h2-point: 3rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

/*------Home Section------*/

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: 0.3s;
}

.navlist{
    display: flex;
}

.navlist li{
    position: relative;
}

.navlist a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 27px;
}

.navlist a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    bottom: -3px;
    left: 0;
    transition: ease 0.40s;
}

.navlist a:hover::after{
    width: 100%;
}

.top-btn{
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
    font-weight: 500;
    transition: ease 0.50s;
}

.top-btn:hover{
    transform: scale(1.1);
    background: var(--main-color);
    border: 2px solid var(--main-color);
    color: var(--bg-color);
}


section{
    padding: 100px 18%;
}

.home{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}

.home-text h1{
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;
}

.home-text h5{
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500;
}

span{
   color: var(--main-color); 
}

.home-text h3{
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text p{
    font-size: var(--p-font);
    color: var(--second-color);
    line-height: 28px;
    margin-bottom: 20px;
}

.social a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #1abc9c;
    font-size: 23px;
    color: var(--bg-color);
    margin-right: 22px;
    margin-bottom: 30px;
}

.social a:hover{
    transform: scale(1,1);
    background: var(--text-color);
    transition: 0.5s;
}

.btn{
    
}


/* about section image */

.imageAboutPage {
    width: 100%;
    padding: 55px;
    margin-top: -50px;
}


/* skills section css */

.servicesText.card {
    height: 280px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    background-color: #1d2833;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}

.skill01{
    color:  #f39c12;
}

.skill02{
    color: #000080;
}

.skill03{
    color: #1abc9c;
}

.skill04{
    color: #cb4335;
}

.skill05{
    color:  #839192;
}

.skills06{
    color:  #7d3c98 ;
}


/* My works part */
.card{
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 15px;
    background-color: #1d2833;
}

.img01 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}

.img02 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -80px;
}

.main-text{
    padding: 30px 0;
    text-align: center;
}

.main-text p{
    font-size: 16px;
    padding: 0 35px;
}


/* Contact part */

.contact_button{
    color: black;
    background-color: #1abc9c;
}


/* social media icons styling */

.social-icons {
    font-size: 36px;
    cursor: pointer;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover {
    color: #17202a;
}


/* footer styling */

#footer {
    background-color: #808080;
    text-align: center;
}


/* spacing all sections */

#about,
#services,
#portfolio,
#contact {
    margin-top: 4rem;
    padding-top: 4rem;
}

#contact {
    padding-bottom: 4rem;
}